<br>

<div class="form-contact">
    <h1>
        Contact us <br> <span>today!</span>
    </h1>
    <br>
    <h5>Fill the form and our sales team will contact you shortly</h5>
    <form class="row g-3">
        <div class="col-md-4 name-left">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputName">
        </div>
        <div class="column col-cap">
            <div class="col-md-5 ms-auto mesage">
                <label for="inputMessage" class="form-label">Message</label>
                <input type="text" class="form-control" id="inputMessage">
            </div>
            <div class="col-6 ms-auto ver-desk">
                <br>
                <div class="g-recaptcha" data-sitekey="6Lcizn8aAAAAAH9Ruia60tVYK1FMONzcPvkMsyis"></div>
                <br>
            </div>
            <div class="col-6 ms-auto ver-desk">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>

        <div class="column data-left">
            <div class="col-md-4">
                <label for="inputLastName" class="form-label">LastName</label>
                <input type="text" class="form-control" id="inputLastName">
            </div>
            <div class="col-md-4">
                <label for="inputTel" class="form-label">Phone Number</label>
                <input type="tel" class="form-control" id="inputTel">
            </div>
            <div class="col-md-4">
                <label for="inputCompany" class="form-label">Company</label>
                <input type="text" class="form-control" id="inputCompany">
            </div>
            <div class="col-md-4">
                <label for="inputState" class="form-label">State</label>
                <input type="text" class="form-control" id="inputState">
            </div>
            <div class="row small-data">
                <div class="col-md-2">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" id="inputCity" class="form-control">
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
            </div>
            <div class="col-6 ms-auto ver-mov">
                <br>
                <div class="g-recaptcha" data-sitekey="6Lcizn8aAAAAAH9Ruia60tVYK1FMONzcPvkMsyis"></div>
                <br>
            </div>
            <div class="col-6 ms-auto ver-mov">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>





    </form>
</div>