/* Banner */

.ban_abt {
    margin-top: 0.5vw;
}

.ban_abt .abt_txt {
    position: absolute;
    margin-top: 9vw;
    left: 15vw;
}

.ban_abt .abt_txt h3 {
    text-align: left;
    font: normal normal 900 3vw/3vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
    text-transform: uppercase;
}

.img_abt {
    background: #CBCBCB 0% 0% no-repeat padding-box;
    opacity: 1;
}

.img_abt img {
    visibility: hidden;
}


/* cards */

.o_exp {
    background: #F0F0F0 0% 0% no-repeat padding-box;
    opacity: 1;
}

.o_exp h2 {
    margin-top: 5vw;
    text-align: center;
    font: normal normal 900 3vw/4vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #383838;
    text-transform: uppercase;
    opacity: 1;
}

.o_exp p {
    text-align: center;
    font: normal normal normal 1vw/1.5vw SF UI Display;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
}

.o_exp .card {
    width: 18.04vw;
    height: 27vw;
}

.card_fle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3vw;
}

.card_fle div {
    margin-left: 0.3%;
    margin-right: 0.3%;
}

.card_fle .card .card-body h3 {
    margin-top: 2vw;
    text-align: center;
    font: normal normal 900 1vw/1.5vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #D60725;
    opacity: 1;
    text-transform: uppercase;
}

.card_fle .card .card-body h5 {
    text-align: center;
    font: normal normal normal 0.9vw/1.2vw SF UI Display;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
    margin-top: 2vw;
}

.card img {
    background-color: rebeccapurple;
    width: 100%;
}


/* Service 3 */

.co_sert {
    background: #383838 0% 0% no-repeat padding-box;
    opacity: 1;
}

.co_sert .sert_sec {
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sert_sec .fram_sert,
.sert_sec .txt_sert {
    width: 100%;
    justify-content: center;
    display: inline-block;
}

.sert_sec .fram_sert div {
    width: 27.81vw;
    height: 27.81vw;
    background: #CBCBCB 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    display: block;
    margin-right: auto;
    margin-left: 0;
    text-align: center;
}

.sert_sec .txt_sert h2 {
    text-align: left;
    font: normal normal 900 2vw/4vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #D60725;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 20vw;
    transform: scaleY(0.9);
}

.sert_sec .txt_sert h5 {
    text-align: left;
    font: normal normal bold 1.28vw/1.5vw SF UI Display;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 45%;
    margin-left: 20vw;
}

.sert_sec .txt_sert p {
    text-align: left;
    font: normal normal normal 1vw/1.53vw SF UI Display;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 48%;
    margin-left: 20vw;
}

.sert_sec .txt_sert h6 {
    text-align: left;
    font: normal normal 600 1.1vw/2.2vw SF UI Display;
    letter-spacing: 0px;
    color: #D60725;
    opacity: 1;
    margin-left: 20vw;
}

.sert_sec .txt_sert button {
    margin-top: 1vw;
    margin-left: 20vw;
}


/* Class button */

.btn_bred {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.15vw solid #D60725;
    opacity: 1;
    text-align: left;
    font: normal normal 900 1vw/1.9vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
    padding: 0.3vw 1.5vw;
}

.txt_fle {
    margin-right: 1.12vw;
}

.btn_fle {
    display: flex;
    flex-direction: row;
}

.wht_sha {
    display: none;
}

.wht_sha img {
    width: 1.9vw;
    height: 1.9vw;
}

.btn_bred:hover {
    background: #D60725 0% 0% no-repeat padding-box;
}

.btn_bred:hover .wht_sha {
    display: grid;
}

.btn_bred:hover .redsha {
    display: none;
}

.redsha img {
    width: 1.9vw;
    height: 1.9vw;
}


/* Cintillo */

.ban_lov button {
    position: absolute;
    margin-top: 4.4vw;
    left: 61%;
}

.ban_lov .btn_bred {
    background: #D60725;
    color: #FFFFFF;
}

.ban_lov .btn_bred:hover {
    color: #D60725;
    background: #FFFFFF;
}

@media only screen and (max-width: 1000px) {
    .o_exp .gro_wh {
        width: 100px;
        height: 110px;
        border-radius: 70px;
        margin-top: -6vw;
        background-color: aqua;
    }
    .o_exp .card_fle .card {
        width: 170px;
        height: 310px;
    }
    .o_exp .card_fle .card .card-body h3 {
        font-size: 13px;
        line-height: 16px;
    }
    .o_exp .card_fle .card .card-body h5 {
        font-size: 12px;
        line-height: 15px;
    }
}

@media only screen and (max-width: 650px) {
    /*Service lorem*/
    .co_sert .sert_sec {
        flex-direction: column;
    }
    .sert_sec .fram_sert div {
        margin: auto;
    }
    .sert_sec .txt_sert {
        text-align: center;
    }
    .sert_sec .txt_sert h2 {
        font-size: 16px;
        text-align: center;
        margin-top: 1vw;
        margin-left: 0;
    }
    .sert_sec .txt_sert h5 {
        font-size: 11px;
        text-align: center;
        margin-left: 0;
        width: 65%;
        margin: auto;
        line-height: 15px;
    }
    .sert_sec .txt_sert p {
        text-align: center;
        font-size: 10px;
        width: 65%;
        margin-left: 0;
        margin: auto;
        line-height: 15px;
        padding: 2vw 0;
    }
    .sert_sec .txt_sert h6 {
        text-align: center;
        font-size: 13px;
        width: 65%;
        margin-left: 0;
        margin: auto;
        line-height: 15px;
    }
    .sert_sec .txt_sert button {
        margin-left: 0;
        margin: 5px 0;
    }
}

@media only screen and (max-width: 500px) {
    /*Cards*/
    .o_exp h2 {
        font-size: 13px;
        line-height: 20px;
    }
    .card_fle {
        align-items: center;
        flex-direction: column;
    }
    .o_exp .card_fle .card {
        margin-bottom: 10px;
        
       
    }
    .card_fle .card .card-body h3 {
        margin-top: 10px;
        font-size: 12px;
        line-height: 15px;
    }
    .card_fle .card .card-body h5 {
        font-size: 10px;
        line-height: 13px;
        margin-top: 0;
    }
}