/* Banner */

.ban_abt {
    margin-top: 0.5vw;
}

.ban_abt .abt_txt {
    position: absolute;
    margin-top: 7vw;
    left: 15vw;
}

.ban_abt .abt_txt h4 {
    text-align: left;
    font: normal normal 900 1.2vw/30px Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #D60725;
    text-transform: uppercase;
    opacity: 1;
}

.ban_abt .abt_txt h3 {
    text-align: left;
    font: normal normal 900 3vw/3vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
}

.ban_abt .abt_txt p {
    text-align: left;
    font: normal normal normal 1vw/1.6vw SF UI Display;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
    width: 36%;
}


/* Mapa */

.map_north {
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 7vw;
}

.pic_map {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.txt_map {
    width: 90%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.pic_map img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.map_north .txt_map h5 {
    text-align: left;
    font: normal normal 600 1.25vw/2vw SF UI Display;
    letter-spacing: 0px;
    color: #D60725;
    opacity: 1;
}

.map_north .txt_map h2 {
    text-align: left;
    font: normal normal 900 2.7vw/3vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #383838;
    text-transform: uppercase;
    opacity: 1;
    transform: scaleX(1.1);
    margin-left: 2vw;
    margin-bottom: 2vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #383838;
    padding: 3px;
}

.map_north .txt_map p {
    text-align: left;
    font: normal normal normal 1vw/2vw SF UI Display;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
    width: 60%;
    margin-bottom: 1.5vw;
}

.map_north .txt_map button:hover {
    background: #D60725 0% 0% no-repeat padding-box;
}


/*Second Banner*/

.abt .abt_txt {
    position: absolute;
    margin-top: 4.5vw;
    left: 54vw;
}

.abt_txt h4 {
    text-align: left;
    font: normal normal 900 2.9vw/4vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.abt_txt h4 span {
    color: #D60725;
}

.abt_txt h3 {
    margin-top: 1vw;
    text-align: left;
    font: normal normal 900 1vw/1.8vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #D60725;
    opacity: 1;
    width: 57%;
}

.abt_txt h3 span {
    text-align: left;
    font: normal normal 600 1vw/1.8vw SF UI Display;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}


/*Carousel Cards*/

.col_ca {
    background: #F0F0F0 0% 0% no-repeat padding-box;
    opacity: 1;
}

.tx_ca {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vw;
}

.tx_ca .gallery {
    width: 245px;
}

.tx_wht {
    margin-left: 20vw;
    width: 93%;
    justify-content: center;
    display: inline-block;
}

.car_cl,
#abt_car_cards {
    width: 37%;
    justify-content: center;
    display: inline-block;
    margin-right: 23%;
}

.tx_wht h2 {
    text-align: left;
    font: normal normal 900 3.1vw/3.3vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
}

.tx_wht span {
    color: #D60725;
}

.card img {
    width: 10vw;
    height: 10vw;
    border-radius: 5vw;
    margin: auto;
    margin-top: -5vw;
}

.gallery-cell {
    background: none;
    border: none;
    height: 400px;
}

.card {
    margin-top: 6vw;
    width: 18vw;
    height: 22vw;
}

.card .card-body h4 {
    text-align: center;
    font: normal normal bold 1.3vw/2vw SF UI Display;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
    margin-top: 1vw;
}

.card .card-body h3 {
    text-align: center;
    font: normal normal 900 1vw/1.5vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #D60725;
    opacity: 1;
}

.card .card-body h5 {
    text-align: center;
    font: normal normal normal 0.9vw/0.4vw SF UI Display;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
}

.card .card-body p {
    text-align: center;
    font: normal normal normal 1vw/0.4vw SF UI Display;
    letter-spacing: 0px;
    color: #D60725;
    opacity: 1;
}

.card .card-body hr {
    width: 30%;
    margin: 2vw auto 1vw auto;
    color: #D60725;
    background-color: #D60725;
    opacity: 1;
}

.carousel-control-next-icon {
    content: url(./../../../assets/iconosWeb/WLNIconos/left-arrow.svg);
    float: left;
    background: none;
    width: 2.25vw;
    height: 2.25vw;
    transform: rotate(180deg);
    margin-right: -10vw;
}

.carousel-control-prev-icon {
    content: url(./../../../assets/iconosWeb/WLNIconos/left-arrow.svg);
    float: left;
    background: none;
    width: 2.25vw;
    height: 2.25vw;
    margin-left: -10vw;
}


/*Cintillo*/

.ban_lov button {
    position: absolute;
    margin-top: 4.4vw;
    left: 61%;
}

.ban_lov .btn_bred {
    background: #D60725;
    color: #FFFFFF;
}

.ban_lov .btn_bred:hover {
    color: #D60725;
    background: #FFFFFF;
}


/* Class button */

.btn_bred {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.15vw solid #D60725;
    opacity: 1;
    text-align: left;
    font: normal normal 900 1vw/1.9vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
    padding: .3vw 1.5vw;
}

.btn_bred:hover {
    background: #D60725 0% 0% no-repeat padding-box;
}

.btn_bred:hover .wht_sha {
    display: grid;
}

.btn_bred:hover .redsha {
    display: none;
}

.hear_ba .btn_bred {
    margin-left: 20vw;
}

.btn_fle {
    display: flex;
    flex-direction: row;
}

.txt_fle {
    margin-right: 1.12vw;
}

.wht_sha {
    display: none;
}

.redsha img {
    width: 1.9vw;
    height: 1.9vw;
}

.wht_sha img {
    width: 1.9vw;
    height: 1.9vw;
}

@media only screen and (max-width: 700px) {
    .ban_abt {
        margin-top: 18px;
    }
    /* Banner */
    .ban_abt .abt_txt h3 {
        margin-top: -1.7vw;
    }
    .ban_abt .abt_txt p {
        margin-top: -1vw;
    }
    .ban_abt .abt_txt {
        margin-top: 5vw;
    }
    /* Carousel*/
    .card .card-body h4 {
        font-size: 1.1vw;
    }
}

@media only screen and (max-width: 500px) {
    /*Banner*/
    .di_ov,
    .hide_abt {
        overflow: hidden;
    }
    .di_ov .ban_abt .img_abt>img {
        width: 160vw;
        height: 50vw;
        margin-left: -39%;
    }
    .ban_abt .abt_txt {
        left: 4vw;
    }
    .ban_abt .abt_txt h4 {
        font-size: 13px;
    }
    .ban_abt .abt_txt h3 {
        font-size: 20px;
        line-height: 23px;
        width: 100%;
    }
    .ban_abt .abt_txt p {
        font-size: 8.5px;
        line-height: 11px;
        width: 65%;
    }
    /*Maps*/
    .map_north {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        justify-content: center;
    }
    .txt_map {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .map_north .txt_map h5 {
        font-size: 14px;
        text-align: center;
        padding: 4px 0;
    }
    .map_north .txt_map h2 {
        font-size: 20px;
        line-height: 23px;
        text-align: center;
    }
    .map_north .txt_map p {
        text-align: center;
        font-size: 10px;
        line-height: 13px;
        margin: auto;
    }
    /*boton mapa*/
    /*Boton banner #1*/
    .map_north button {
        margin-top: 10px;
    }
    .map_north .btn_bred {
        font-size: 6px;
        padding: 5px 6px;
        line-height: 9px;
    }
    .map_north .btn_bred img {
        width: 10px;
        height: 10px;
    }
    /*banner sello*/
    .hide_abt {
        overflow: hidden;
    }
    .hide_abt .abt .img_abt>img {
        width: 166vw;
        height: 55vw;
        margin-left: -23%;
    }
    .abt .abt_txt {
        position: absolute;
        margin-top: 4.5vw;
        left: 54vw;
    }
    .abt_txt h4 {
        font-size: 17px;
        line-height: 18px;
    }
    .abt_txt h3 {
        margin: 0;
        font-size: 8px;
        line-height: 11px;
        width: 90%;
    }
    .abt_txt h3 span {
        font-size: 8px;
        line-height: 11px;
    }
    /* Carousel*/
    .card .card-body h4 {
        font-size: 12px;
        padding: 8px 0;
    }
    .card .card-body h3 {
        font-size: 10px;
        padding: 8px 0;
    }
    .card .card-body h5 {
        margin-top: 1vw;
        margin-bottom: 1vw;
        font-size: 10px;
    }
    .tx_ca {
        flex-direction: column;
    }
    .tx_wht h2 {
        text-align: center;
        line-height: 23px;
        font-size: 20px;
        padding: 8px 0;
    }
    .tx_wht {
        margin-left: 0vw;
        width: 100%;
    }
    .car_cl,
    #abt_car_cards {
        width: 90%;
        justify-content: center;
        display: inline-block;
        margin: auto;
    }
    .carousel-item {
        padding: 35px 0;
    }
    .card {
        margin-top: 6vw;
        width: 240px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .card img {
        width: 110px;
        height: 110px;
        border-radius: 55px;
        margin: auto;
        margin-top: -55px;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 30px;
        height: 30px;
    }
    /*Banner Love*/
    .ban_lov {
        overflow: hidden;
    }
    .ban_lov>img {
        padding: 5% 0;
        transform: scale(1.8);
        margin-left: 13%;
    }
    .ban_lov button {
        z-index: 1;
        margin-top: 13vw;
        left: 63vw;
    }
    .ban_lov .btn_bred {
        font-size: 9px;
        padding: 5px 6px !important;
        line-height: 12px;
    }
    .ban_lov .btn_bred img {
        width: 12px;
        height: 12px;
    }
}

@media only screen and (max-width: 356px) {
    .abt_txt h3 {
        margin: 0;
        font-size: 7px;
        line-height: 10px;
        width: 98%;
    }
    .abt_txt h3 span {
        font-size: 7px;
        line-height: 10px;
    }
}