<div class="ban_abt">
    <div class="abt_txt">
        <h4>Get to know</h4>
        <h3>WHITE LABEL <br> NEARSHORE</h3>
        <p>We know that finding a formal nearshore company is a tough task, So that’s why our commitment to our partners is to deliver our services with a high sense of responsibility, customer transparency and strict adherence to deadlines while oriented
            toward results.</p>
    </div>
    <div class="img_abt"><img src="assets/imagenesWeb/About/a_header.png" width="100%" alt="..."></div>
</div>
<div class="map_north">
    <div class="pic_map"><img src="assets/imagenesWeb/About/a_mapa Gt.png" width="50%" alt="..."></div>
    <div class="txt_map">
        <h5>Who we are</h5>
        <h2>Your <br> nearshore <br> partner</h2>
        <br>
        <p>We are While-label Company based in Guatemala City, Central America, who would love to be your nearshore partner. We’d help your company to build a nearshore team in Guatemala City to scale your costs, revenue and offering.</p>
        <button type="button" class="btn_bred" routerLink="/servicios">
            <div class="btn_fle"> <div class="txt_fle">REQUEST A QUOTE</div>  <div class="wht_sha"><img  src="assets/iconosWeb/WLNIconos/flecha-correcta-white.svg" width="30px" height="30px" alt="..."></div> <div class="redsha"><img  src="assets/iconosWeb/WLNIconos/flecha-correcta.svg" width="30px" height="30px" alt="..."></div> </div>                            
        </button>
        <br><br>
    </div>
</div>
<div class="abt">
    <div class="abt_txt">
        <h4>Our <span>values</span></h4>
        <br>
        <h3>Responsability <br> <span>If we promise, we deliver.</span><br><br> Passion <br>
            <span>If we promise, we deliver.</span><br><br> Collaboration <br> <span>Your company and our will become one.</span><br><br> Trustworthiness <br>
            <span>Eventhough the distance, we will safe and not share your business information.</span>
        </h3>
    </div>
    <div class="img_abt"><img src="assets/imagenesWeb/About/a_values.png" width="100%" alt="..."></div>
</div>
<div class="col_ca">
    <br><br>
    <div class="tx_ca">
        <div class="tx_wht">
            <h2>What <br> clients <br> <span>say <br> about us</span> </h2>
        </div>
        <div class="car_cl">
            <div class="gallery js-flickity" data-flickity-options='{ "freeScroll": true, "wrapAround": true }'>
                <div class="gallery-cell">
                    <div class="card" style="width: 243px; height: 300px;">
                        <img src="assets/6522089_orig.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>“WLN is the partner whom you can trust”</h4>
                            <hr>
                            <h3>Suzanne Mora</h3>
                            <h5>Client Director</h5>
                            <p>Seychelle Media</p>

                        </div>
                    </div>

                </div>
                <div class="gallery-cell">
                    <div class="card" style="width: 243px; height: 300px;">
                        <img src="assets/6522089_orig.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>“This guys knows what they do”</h4>
                            <hr>
                            <h3>Jose Rodriguez</h3>
                            <h5>Founder</h5>
                            <p>Paralelo Studio</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-cell">
                    <div class="card" style="width: 243px; height: 300px;">
                        <img src="assets/6522089_orig.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>“WLN delivers with accountability”</h4>
                            <hr class="h_card">
                            <h3>Vinnizio RIzo</h3>
                            <h5>Client Director</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="ban_lov">
    <button type="button" class="btn_bred" routerLink="/servicios">
        <div class="btn_fle"> <div class="txt_fle">Contact us</div><div class="wht_sha"><img  src="assets/iconosWeb/WLNIconos/flecha-correcta.svg" width="30px" height="30px" alt="..."></div> <div class="redsha"><img  src="assets/iconosWeb/WLNIconos/flecha-correcta-white.svg" width="30px" height="30px" alt="..."></div> </div>                            
    </button>
    <img src="assets/imagenesWeb/Banners/banner_3.png" width="100%" alt="...">
</div>