<header class="head fixed-top">
    <div class="container-fluid ">
        <div class="logo-nav-container">
            <a routerLink="/inicio" class="logo"><img src="assets/iconosWeb/WLNIconos/logo negro - wln.svg" alt="..." width="150px" height="95px"></a>
        </div>
        <nav class="header">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn" (click)="toggleState()" >
                 <i><img  id="menu-bars" src="assets/menus.svg" width="40px" height="40px" alt="..."></i>
            </label>
            <ul class="rojos cerrar" [ngClass]="{ 'open': isCollapse }"> 
                <li><a class="not-act" (click)="toggleState()" routerLink="/inicio">Home</a></li>
                <li><a class="not-act" (click)="toggleState()" routerLink="/about">About</a></li>
                <li><a class="not-act" (click)="toggleState()" routerLink="/services">Services</a></li>
                <li><a class="not-act" (click)="toggleState()" routerLink="/insights">Insights</a></li>
                <li><a class="win-ac" (click)="toggleState()" routerLink="/contact">contact</a></li>
                <li><button type="button">Start a project</button></li>
            </ul>
        </nav>
    </div>
</header>
<br />
<br /><br /><br>