* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5%;
}

.head {
    width: 100%;
    height: 113px;
    top: 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 6px #00000029;
    opacity: 1;
}

.head a {
    text-decoration: none;
    text-align: center;
    font: normal normal 900 13px/22px Heading Pro Ultra Wide;
    letter-spacing: 0px;
   
    text-transform: uppercase;
    opacity: 1;
}
.not-act{
    color: #8E8E8E;
}
.win-ac{
    color: #D60725;
}
.head a h2 {
    text-decoration: none;
    text-align: center;
    font: normal normal 900 13px/22px Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #8E8E8E;
    text-transform: uppercase;
    opacity: 1;
}

.logo-nav-container {
    margin-left: 10vw;
}

.menu-icon {
    display: none;
}

.header ul {
    position: absolute;
    list-style: none;
    right: 7vw;
    margin-top: 2.5%;
}

.head ul li {
    display: inline-block;
    vertical-align: text-top;
}

.head ul li button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    text-align: center;
    font: normal normal 900 13px/16px Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #8E8E8E;
    text-transform: uppercase;
    opacity: 1;
    border-radius: 0;
}

.head ul li a,
.head ul li button {
    display: block;
    padding: 0.4rem 2vw;
    transition: all 0.4s linear;
    letter-spacing: -0.5px;
}

.head ul li a:hover {
    color: #D60725;
}

nav>ul>li:hover div {
    display: table;
}


/*Submenu*/

nav ul li div {
    width: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    background: rgba(0, 207, 255, 1);
    box-sizing: unset;
    display: none;
    align-items: center;
}

nav ul li div ul {
    width: 10%;
    display: table-cell;
    box-sizing: unset;
    border: none;
    padding: 2rem 0rem;
}

nav ul li div ul:last-child {
    border: none;
}

nav ul li div ul .titulo {
    background: rgba(0, 207, 255, 1);
    color: #fff;
}

nav ul li div ul .titulo a {
    color: #fff;
    padding: 10px 20px;
}

nav ul li div ul .titulo a:hover {
    background: none;
}

nav ul li div ul li a {
    color: #000;
}

nav ul li div ul li a:hover {
    color: #fff;
}

.checkbtn {
    font-size: 30px;
    color: #D60725;
    line-height: 40px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 10vw;
    margin-top: vw;
}

#check {
    display: none;
}

@media only screen and (min-width: 1550px) {
    .container {
        margin-left: 18%;
    }
    .logo {
        margin-left: -15%;
    }
    .header ul {
        letter-spacing: 2px;
        padding-left: 5px;
        margin-right: 0;
    }
    .header ul li {
        margin-right: -30px;
        padding-left: 60px;
        margin-top: -1vw;
    }
    .header a {
        padding-left: 5px;
        font-size: 17px;
    }
    .header {
        margin-right: -5vh;
    }
}

@media only screen and (max-width: 1176px) {
    .logo-nav-container .logo img {
        margin-left: -3vw;
    }
    .header ul {
        right: 3vw;
    }
}

@media only screen and (max-width: 991px) {
    .header {
        margin-top: 2%;
    }
    .logo-nav-container .logo img {
        margin-top: 1.3vw;
    }
    .header ul li a {
        display: block;
        padding: 1rem 0rem;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    .checkbtn {
        display: block;
        margin-top: 2vw;
    }
    .header ul {
        position: fixed;
        width: 100%;
        height: 26rem;
        background: white;
        top: 90px;
        
        text-align: center;
        transition: all 0.5s;
    }
    .header ul li {
        display: block;
    }
    .header ul li a {
        font-size: 17px;
    }
    .header a:hover,
    a.active {
        background: none;
        color: black;
    }
    .cerrar{
        left: -100%;
    }
    .open {
        left: 0;
    }
    .margen-hr {
        width: 16%;
        margin-left: 42%;
    }
    .header ul li button {
        margin: auto;
    }
}

@media only screen and (max-width: 700px) {
    .logo-nav-container .logo {
        margin-left: 1vw;
    }
    .margen-hr {
        width: 30%;
        margin-left: 35%;
    }
    .checkbtn {
        margin-top: 14px;
    }
}

@media only screen and (max-width: 320px) {
    .header ul {
        height: 48%;
    }
}