<div class="menu-color">
    <div class="wrapper">
        <div id="primer" class="item win-notac" routerLink="/socialMedia" routerLinkActive="win-ac">
            <a class="men-wra">
                <img class="icon-wh" src="assets/iconosWeb/WLNIconos/white_icon/social media - wln.svg" alt="..." />
                <img class="icon-rd" src="assets/iconosWeb/WLNIconos/red_icon/social media - wln.svg" alt="...">
                <br /> Social Media
            </a>
        </div>
        <div class="item win-notac" routerLink="/development" routerLinkActive="win-ac">
            <a>
                <img class="icon-wh" src="assets/iconosWeb/WLNIconos/white_icon/development - wln.svg" alt="..." />
                <img class="icon-rd" src="assets/iconosWeb/WLNIconos/red_icon/development - wln.svg" alt="...">
                <br /> Development
            </a>
        </div>
        <div class="item win-notac" routerLink="/backOffice" routerLinkActive="win-ac">
            <a>
                <img class="icon-wh" src="assets/iconosWeb/WLNIconos/white_icon/back office - wln.svg" alt="..." />
                <img class="icon-rd" src="assets/iconosWeb/WLNIconos/red_icon/back office - wln.svg" alt="...">
                <br /> Back Office
            </a>
        </div>
        <div class="item win-notac" routerLink="/graphicDesing" routerLinkActive="win-ac">
            <a>
                <img class="icon-wh" src="assets/iconosWeb/WLNIconos/white_icon/graphic design - wln.svg"
                    style="transform: rotate(55deg);" alt="..." />
                <img class="icon-rd" src="assets/iconosWeb/WLNIconos/red_icon/graphic design - wln.svg"
                    style="transform: rotate(55deg);" alt="...">
                <br /> Graphic Design
            </a>
        </div>
        <div class="item win-notac" routerLink="/photoVideo" routerLinkActive="win-ac">
            <a>
                <img class="icon-wh" src="assets/iconosWeb/WLNIconos/white_icon/photo video editing - wln.svg"
                    alt="..." />
                <img class="icon-rd" src="assets/iconosWeb/WLNIconos/red_icon/photo video editing - wln.svg" alt="...">
                <br /> Photo/Video Editing
            </a>
        </div>
        <div class="item win-notac" routerLinkActive="win-ac">
            <a routerLink="/website">
                <img class="icon-wh" src="assets/iconosWeb/WLNIconos/white_icon/website building - wln.svg" alt="..." />
                <img class="icon-rd" src="assets/iconosWeb/WLNIconos/red_icon/website building - wln.svg" alt="...">
                <br /> Website building
            </a>
        </div>
        <div class="item win-notac" routerLinkActive="win-ac">
            <a routerLink="/wcag">
                <img class="icon-wh" src="assets/iconosWeb/WLNIconos/white_icon/icon-acc.svg" alt="..." />
                <img class="icon-rd" src="assets/iconosWeb/WLNIconos/red_icon/icon-acc.svg" alt="...">
                <br /> WCAG QA
            </a>
        </div>
    </div>
</div>
<div class="ban_abt">
    <br><br>
    <div class="abt_txt">
        <h3>Graphic <br> Design</h3>
    </div>
    <div class="img_abt"><img src="assets/imagenesWeb/Service/Services - Back office/s_back office header.png" width="100%" alt="..."></div>
</div>
<div class="co_sefo">
    <br>
    <div class="sefo_sec">
        <div class="fram_sefo">
            <div></div>
        </div>
        <div class="txt_sefo">
            <h2>Service 3</h2>
            <h5>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
            <h6>Lorem ipsum dolor sit amet, consetetur</h6>
            <button type="button" class="btn_bred" routerLink="/servicios">
                <div class="btn_fle"> <div class="txt_fle">Learn more</div>  <div class="wht_sha"><img  src="assets/iconosWeb/WLNIconos/flecha-correcta-white.svg" width="30px" height="30px" alt="..."></div> <div class="redsha"><img  src="assets/iconosWeb/WLNIconos/flecha-correcta.svg" width="30px" height="30px" alt="..."></div> </div>                            
            </button>
        </div>
    </div>
    <br><br><br>
</div>
<div class="o_exp">
    <br><br>
    <div class="card_fle">
        <div class="card" style="width: 240px; height: 210px;">
            <div class="card-body">
                <h3>What we offer</h3>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora autem asperiores sunt tenetur minus corrupti cumque unde dicta,</h5>

            </div>
        </div>
        <div class="card" style="width: 240px; height: 210px;">
            <div class="card-body">
                <h3>What we offer</h3>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora autem asperiores sunt tenetur minus corrupti cumque unde dicta,</h5>
            </div>
        </div>
        <div class="card" style="width: 240px; height: 210px;">
            <div class="card-body">
                <h3>What we offer</h3>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora autem asperiores sunt tenetur minus corrupti cumque unde dicta,</h5>
            </div>
        </div>
    </div>
    <br><br>
    <br>
</div>
<div class="se_lor">
    <br>
    <div class="lorem_sec">
        <div class="fram_sefo">
            <div></div>
        </div>
        <div class="txt_sefo">
            <h5>Lorem ipsum </h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
            <h5>Lorem ipsum </h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
            <h5>Lorem ipsum </h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
        </div>
    </div>
    <br><br><br>
</div>
<div class="col_ca_of">
    <br><br>
    <div class="tx_ca">
        <div class="tx_wht">
            <h2>What <br> clients <br> <span>say <br> about us</span> </h2>
        </div>
        <div class="car_cl">
            <div class="gallery js-flickity" data-flickity-options='{ "freeScroll": true, "wrapAround": true }'>
                <div class="gallery-cell">
                    <div class="card" style="width: 243px; height: 300px;">
                        <img src="assets/6522089_orig.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>“WLN is the partner whom you can trust”</h4>
                            <hr>
                            <h3>Suzanne Mora</h3>
                            <h5>Client Director</h5>
                            <p>Seychelle Media</p>

                        </div>
                    </div>

                </div>
                <div class="gallery-cell">
                    <div class="card" style="width: 243px; height: 300px;">
                        <img src="assets/6522089_orig.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>“This guys knows what they do”</h4>
                            <hr>
                            <h3>Jose Rodriguez</h3>
                            <h5>Founder</h5>
                            <p>Paralelo Studio</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-cell">
                    <div class="card" style="width: 243px; height: 300px;">
                        <img src="assets/6522089_orig.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>“WLN delivers with accountability”</h4>
                            <hr class="h_card">
                            <h3>Vinnizio RIzo</h3>
                            <h5>Client Director</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br><br>
</div>
<div class="ban_lov">
    <button type="button" class="btn_bred" routerLink="/servicios">
        <div class="btn_fle"> <div class="txt_fle">Contact us</div><div class="wht_sha"><img  src="assets/iconosWeb/WLNIconos/flecha-correcta.svg" width="30px" height="30px" alt="..."></div> <div class="redsha"><img  src="assets/iconosWeb/WLNIconos/flecha-correcta-white.svg" width="30px" height="30px" alt="..."></div> </div>                            
    </button>
    <img src="assets/imagenesWeb/Banners/banner_6.png" width="100%" alt="...">
</div>