/* Menu */

.menu-color {
    margin-top: -10px;
    width: 100%;
    background: #D60725 0% 0% no-repeat padding-box;
    opacity: 1;
    position: fixed;
    z-index: 3;
    margin-bottom: 10vw;
}

.wrapper {
    max-height: 120px;
    border: 1px solid #ddd;
    width: 90%;
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: #D60725 0% 0% no-repeat padding-box;
    opacity: 1;
    border: none;
}

.wrapper::-webkit-scrollbar {
    width: 0;
}

.wrapper .item {
    vertical-align: text-bottom;
    min-width: 110v;
    height: 110px;
    text-align: center;
    margin: auto;
    width: 10%;
    align-items: center;
    display: table;
}

.wrapper .item a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    font: normal normal bold 1vw/24px SF UI Display;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.wrapper .item a:hover {
    text-decoration: none;
}

.wrapper .item a:hover img {
    transform: scale(1.2);
}

.wrapper .item p:active {
    text-decoration: none;
}

.wrapper .item a img {
    width: 50px;
    height: 50px;
    fill: #ffffff;
}


/* First Banner */

.abt {
    margin-top: 2.5vw;
    overflow: hidden;
}

.abt .abt_txt {
    position: absolute;
    margin-top: 12vw;
    left: 55vw;
}

.abt_txt h3 {
    text-align: left;
    font: normal normal 900 3.2vw/3.5vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #383838;
    text-transform: uppercase;
    opacity: 1;
}

.abt_txt h3 span {
    color: #D60725;
}


/*section heart*/

.col_ba {
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}

.col_ba .hear_ba {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}

.pic_her {
    width: 100%;
}

.txt_her {
    width: 100%;
}

.pic_her img {
    margin-left: 3.7vw;
}

.hear_ba .txt_her h5 {
    text-align: left;
    font: normal normal 900 1.9vw/2vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 20vw;
}

.hear_ba .txt_her h2 {
    text-align: left;
    font: normal normal bold 1.25vw/2vw SF UI Display;
    letter-spacing: 0px;
    color: #D60725;
    opacity: 1;
    margin-left: 20vw;
}

.hear_ba .txt_her p {
    text-align: left;
    font: normal normal 600 1vw/1.9vw SF UI Display;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 44%;
    margin-left: 20vw;
}

.hear_ba .txt_her h6 {
    text-align: left;
    font: normal normal 600 1.05vw/30px SF UI Display;
    letter-spacing: 0px;
    color: #D60725;
    opacity: 1;
    margin-left: 20vw;
}

.hear_ba .btn_bred {
    margin-left: 0;
}


/* Class button */

.btn_bred {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.15vw solid #D60725;
    opacity: 1;
    text-align: left;
    font: normal normal 900 1vw/1.9vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
    padding: 0.3vw 1.5vw;
}

.txt_fle {
    margin-right: 1.12vw;
}

.btn_fle {
    display: flex;
    flex-direction: row;
}

.wht_sha {
    display: none;
}

.wht_sha img {
    width: 1.9vw;
    height: 1.9vw;
}

.btn_bred:hover {
    background: #D60725 0% 0% no-repeat padding-box;
}

.btn_bred:hover .wht_sha {
    display: grid;
}

.btn_bred:hover .redsha {
    display: none;
}

.redsha img {
    width: 1.9vw;
    height: 1.9vw;
}


/* Section Computer */

.comp_north {
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pic_comp {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 3vw;
}

.txt_comp {
    width: 90%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.pic_comp img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-left: 16.4vw;
}

.comp_north .txt_comp h2 {
    text-align: left;
    font: normal normal 900 2vw/2.5vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #383838;
    text-transform: uppercase;
    opacity: 1;
    transform: scaleX(1.1);
    margin-left: 2vw;
    margin-bottom: 1vw;
}

.comp_north .txt_comp h5 {
    text-align: left;
    font: normal normal bold 1.5vw/2.2vw SF UI Display;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
    width: 55%;
}

.comp_north .txt_comp p {
    text-align: left;
    font: normal normal 600 1.2vw/2vw SF UI Display;
    letter-spacing: 0px;
    color: #2B2B2B;
    opacity: 1;
    width: 55%;
}

.comp_north .txt_comp h6 {
    text-align: left;
    font: normal normal 600 1.2/2vw SF UI Display;
    letter-spacing: 0px;
    color: #D60725;
    opacity: 1;
    margin-bottom: 1.5vw;
}


/* Service 3 */

.co_sert {
    background: #F0F0F0 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 5vw;
}

.co_sert .sert_sec {
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sert_sec .fram_sert,
.sert_sec .txt_sert {
    width: 100%;
    justify-content: center;
    display: inline-block;
}

.sert_sec .fram_sert div {
    width: 27.81vw;
    height: 27.81vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    display: block;
    margin-right: auto;
    margin-left: 0;
    text-align: center;
}

.sert_sec .txt_sert h2 {
    text-align: left;
    font: normal normal 900 2vw/4vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #383838;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 20vw;
    transform: scaleY(0.9);
}

.sert_sec .txt_sert h5 {
    text-align: left;
    font: normal normal bold 1.28vw/1.5vw SF UI Display;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
    width: 45%;
    margin-left: 20vw;
}

.sert_sec .txt_sert p {
    text-align: left;
    font: normal normal normal 1vw/1.53vw SF UI Display;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
    width: 48%;
    margin-left: 20vw;
}

.sert_sec .txt_sert h6 {
    text-align: left;
    font: normal normal 600 1.1vw/2.2vw SF UI Display;
    letter-spacing: 0px;
    color: #D60725;
    opacity: 1;
    margin-left: 20vw;
}

.sert_sec .txt_sert button {
    margin-top: 1vw;
    margin-left: 20vw;
}


/* Service 4 */

.co_sefo {
    background: #383838 0% 0% no-repeat padding-box;
    opacity: 1;
}

.sefo_sec {
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sefo_sec .fram_sefo,
.sefo_sec .txt_sefo {
    width: 100%;
    justify-content: center;
    display: inline-block;
}

.sefo_sec .fram_sefo div {
    width: 27.81vw;
    height: 27.81vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    display: block;
    margin-right: auto;
    text-align: center;
    margin-left: 19vw;
}

.sefo_sec .txt_sefo h2 {
    text-align: left;
    font: normal normal 900 2vw/4vw Heading Pro Ultra Wide;
    margin-left: 4vw;
    transform: scaleY(0.9);
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.sefo_sec .txt_sefo h5 {
    text-align: left;
    font: normal normal bold 1.28vw/1.5vw SF UI Display;
    width: 45%;
    margin-left: 4vw;
    letter-spacing: 0px;
    color: #D60725;
    opacity: 1;
}

.sefo_sec .txt_sefo p {
    text-align: left;
    font: normal normal normal 1vw/1.53vw SF UI Display;
    width: 48%;
    margin-left: 4vw;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.sefo_sec .txt_sefo h6 {
    text-align: left;
    font: normal normal 600 1.1vw/2.2vw SF UI Display;
    letter-spacing: 0px;
    color: #D60725;
    opacity: 1;
    margin-left: 4vw;
}

.sefo_sec .txt_sefo button {
    margin-top: 1vw;
    margin-left: 4vw;
}


/* Service 5 */

.sefive_sec {
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sefive_sec .fram_sefive,
.sefive_sec .txt_sefive {
    width: 100%;
    justify-content: center;
    display: inline-block;
}

.sefive_sec .fram_sefive div {
    width: 27.81vw;
    height: 27.81vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    display: block;
    margin-right: auto;
    margin-left: 20px;
    text-align: center;
}

.sefive_sec .txt_sefive h2 {
    text-align: left;
    font: normal normal 900 2vw/4vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #383838;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 20vw;
    transform: scaleY(0.9);
}

.sefive_sec .txt_sefive h5 {
    text-align: left;
    font: normal normal bold 1.28vw/1.5vw SF UI Display;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
    width: 45%;
    margin-left: 20vw;
}

.sefive_sec .txt_sefive p {
    text-align: left;
    font: normal normal normal 1vw/1.53vw SF UI Display;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
    width: 48%;
    margin-left: 20vw;
}

.sefive_sec .txt_sefive h6 {
    text-align: left;
    font: normal normal 600 1.1vw/2.2vw SF UI Display;
    letter-spacing: 0px;
    color: #D60725;
    opacity: 1;
    margin-left: 20vw;
}

.sefive_sec .txt_sefive button {
    margin-top: 1vw;
    margin-left: 20vw;
}


/* Service 6 */

.co_six {
    background: #F0F0F0 0% 0% no-repeat padding-box;
    opacity: 1;
}

.six_sec {
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.six_sec .fram_six,
.six_sec .txt_six {
    width: 100%;
    justify-content: center;
    display: inline-block;
}

.six_sec .fram_six div {
    width: 27.81vw;
    height: 27.81vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    display: block;
    margin-right: auto;
    text-align: center;
    margin-left: 19vw;
}

.six_sec .txt_six h2 {
    text-align: left;
    font: normal normal 900 2vw/4vw Heading Pro Ultra Wide;
    letter-spacing: 0px;
    color: #383838;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 4vw;
    transform: scaleY(0.9);
}

.six_sec .txt_six h5 {
    text-align: left;
    font: normal normal bold 1.28vw/1.5vw SF UI Display;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
    width: 45%;
    margin-left: 4vw;
}

.six_sec .txt_six p {
    text-align: left;
    font: normal normal normal 1vw/1.53vw SF UI Display;
    letter-spacing: 0px;
    color: #383838;
    opacity: 1;
    width: 48%;
    margin-left: 4vw;
}

.six_sec .txt_six h6 {
    text-align: left;
    font: normal normal 600 1.1vw/2.2vw SF UI Display;
    letter-spacing: 0px;
    color: #D60725;
    opacity: 1;
    margin-left: 4vw;
}

.six_sec .txt_six button {
    margin-top: 1vw;
    margin-left: 4vw;
}

.ban_lov button {
    position: absolute;
    margin-top: 4.4vw;
    left: 61%;
}

.ban_lov .btn_bred {
    background: #D60725;
    color: #FFFFFF;
}

.ban_lov .btn_bred:hover {
    color: #D60725;
    background: #FFFFFF;
}

@media only screen and (max-width: 1300px) {
    .abt {
        margin-top: 66.5px;
    }
    .menu-color {
        margin-top: -13px;
    }
    .wrapper .item {
        min-width: 100px;
        width: 15%;
    }
    #primer {
        margin-left: 5vw;
    }
}

@media only screen and (max-width: 650px) {
    /*wrapper*/
    .wrapper {
        width: 100%;
    }
    #primer {
        margin-left: 250px;
    }
    .abt {
        margin-top: 71px;
    }
    .col_ba .hear_ba {
        align-items: center;
        flex-direction: column;
        margin-left: 0;
        justify-content: center;
    }
    .pic_her img {
        margin-left: 23vw;
    }
    .pic_her {
        margin: auto;
    }
    .txt_her {
        text-align: center;
    }
    .hear_ba .txt_her h5,
    .hear_ba .txt_her h2,
    .hear_ba .txt_her p,
    .hear_ba .txt_her h6 {
        text-align: center;
        margin-left: 0;
        margin: auto;
    }
    .hear_ba .txt_her h5 {
        font: normal normal 900 2.9vw/3.8vw Heading Pro Ultra Wide;
    }
    .hear_ba .txt_her h2 {
        margin-top: 1vw;
        font: normal normal bold 2vw/2.4vw SF UI Display;
        margin-bottom: 1vw;
    }
    .hear_ba .txt_her p {
        font: normal normal 600 1.9vw/2.9vw SF UI Display;
    }
    .hear_ba .txt_her h6 {
        font: normal normal 600 2vw/30px SF UI Display;
    }
}

@media only screen and (max-width: 450px) {
    /*wrapper*/
    #primer {
        margin-left: 350px;
    }
}

@media only screen and (max-width: 350px) {
    /*wrapper*/
    #primer {
        margin-left: 400px;
    }
}